@font-face {
    font-family: 'IBMPlexSansRegular';
    src: url('../fonts/IBMPlexSans-Regular.woff2') format('woff2'),
         url('../fonts/IBMPlexSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'IBMPlexSansItalic';
    src: url('../fonts/IBMPlexSans-Italic.woff') format('woff2'),
         url('../fonts/IBMPlexSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'IBMPlexSansBold';
    src: url('../fonts/IBMPlexSans-Bold.woff') format('woff2'),
         url('../fonts/IBMPlexSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}

@font-face {
    font-family: 'IBMPlexSansBoldItalic';
    src: url('../fonts/IBMPlexSans-BoldItalic.woff') format('woff2'),
         url('../fonts/IBMPlexSans-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
}
