{{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
{{ $style := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "main.scss" . | resources.ToCSS $options }}
{{/* Uncomment to use main.css */}}
{{/* $style := resources.Get "sass/main.css" */}}
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<link rel="stylesheet" href="{{ $style.RelPermalink }}" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="icon" href="/favicon.ico" type="image/x-icon">
{{- if gt (len $.Site.Home.AllTranslations) 0 -}}
	{{- range $.Site.Home.AllTranslations -}}
		{{- if eq .Lang $.Site.Language.Lang -}}
		<link rel="alternate" type="application/rss+xml" href="{{ .Permalink }}blog/index.xml" title="Kotatogram Blog: {{ .Language.Lang }}">
		{{- end -}}
	{{- end -}}
{{- else -}}
	<link rel="alternate" type="application/rss+xml" href="/blog/index.xml" title="Kotatogram Blog">
{{- end -}}